<div id="testList" class="ui middle aligned celled list">
    {{#each tests}}
    <div class="item test" id="test{{@index}}">
        <div class="testtext" id="testtext{{@index}}">
            {{this.image}}
        </div>
        <div class="list tasklist" id="tasklist{{@index}}">
            {{#each this.tasks}}
            {{> task testIndex=@../index taskIndex=@index}}
            {{/each}}
        </div>
    </div>
    {{/each}}
</div>
