html, body {
  height: 100%;
}

.split-pane {
  width: 100%;
  height: 100%;
}

.split-left {
  position: fixed;
  top: 0; left: 0;
  width: 300px; 
  height: 100%; 
  background: #ddd;
  overflow-y: auto;
  border-right: 2px solid #00b8e6;
}

.split-right {
  box-sizing: border-box;
  margin-left: 302px;
  min-height: 100%; 
  height: 100%;
  background: #fff;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

/*
 * Sidebar
 */ 

h2 {
  font-size: 1.2em;
  font-family: "Lato", sans-serif;
  background: #0093b8;
  color: white;
  padding-left: 5px;
  padding-bottom: 3px;
  padding-top: 2px;
  margin: 0px;
  margin-bottom: 10px;
}

/*
 * Style Menu
 */

.colorLabel {
  font-family: "Lato", sans-serif;
  font-size: 0.9em;
  color: white;
  background: rgb(69, 159, 192);
  padding: 0.2em;
  text-align: center;
  margin-left: 1em;
}

#fillLabel {
  margin-left: 1.8em;
}

.colorBox {
  font-family: "Lato", sans-serif;
  font-size: 0.8em;
  text-align: middle;
  height: 1.8em;
  width: 5em;
  border: 0em;
}

#fillColorBox {

}

#strokeColorBox {

}

.color {

}

#fill {

}

#stroke {

}

#color-window {
  margin-left: 1.7em;
  margin-top: 1.1em;
  width: 16.2em;
  margin-bottom: 0.3em; 
}

.paramLabel {
  font-family: "Lato", sans-serif;
  font-size: 0.8em;
  margin-left: 1.6em;
  display: inline-block;
  margin-top: 0.8em;
  width: 7em;
}

.paramSlider {
  vertical-align: middle;
  margin-left: 1em;
}

/* TODO HMM */
#opacitySlider {
  margin-bottom: 0.6em;
}

/*
 *  Selectors
 */

.selector {
  margin-left: 2em;
  margin-right: 2em;
  padding: 0.2em;
  font-family: "Lato", sans-serif;
  font-size: 0.8em;
  color: white;
  opacity: 0.7;
}

.selector.active {
  opacity: 1;
}

#fillColorSelector {
  background-color: #f23c06;
}

#strokeColorSelector {
  background-color: #f89c12; 
}

#positionXSelector {
  background-color: #fef764;
}

#positionYSelector {
  background-color: #9cb806;
}

#scaleXSelector {
  background-color: #35d3da;
}

#scaleYSelector {
  background-color: #01638d;
}

#strokeWidthSelector {
  background-color: #610d4b;
}

#shapeSelector {
  background-color: #1241ce;
}


/*
 *  TOOLBAR
 */

#toolbar {
  margin-top: 5px;
  margin-right: 5px;
  width: 308px;
  height: 28px;
  float: right;
  background-color: #fff;
}

#iobar {
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
  width: 56px;
  height: 28px;
  float: right;
  background-color: #fff;
}

#importInput {
  display: none;
}

#toolbar .button {
  width: 28px;
  height: 28px;
  cursor: pointer;
  border: 3px solid #fff;
  border-radius: 8px;
  background-color: #00b8e6;
  background-image: url(../images/icons-true.svg);
  background-size: 28px 336px;
  background-position-x: -3px;
}

#iobar .button {
  width: 28px;
  height: 28px;
  cursor: pointer;
  border: 3px solid #fff;
  border-radius: 6px;
  background-color: #00b8e6;
  background-image: url(../images/io-icons-true.svg);
  background-size: 28px 56px;
  background-position-x: -3px;
}

#toolbar .button.active {
  background-color: #0081a1;
}



#toolbar .button:hover, #toolbar .button:focus, #toolbar .button:active { 
  background-color: #0081a1;
}

#iobar .button:hover, #iobar .button:focus, #iobar .button:active {
  background-color: #0081a1;
}

.button-default:hover, .button-default:focus, .button-default:active, .button-default.active {
  color: #fff;
  background-color: #00b8e6;
}

.button-tool.active {
  background-color: #0081a1;
}

#selectTool {
  background-position-y: -3px;
}

#dirSelectTool {
  background-position-y: 305px;
}

#colorSelectTool {
  background-position-y: 277px;
}

#lineTool {
  background-position-y: 249px;
}

#arcTool {
  background-position-y: 221px;
}

#rectangleTool {
  background-position-y: 193px;
}

#ellipseTool {
  background-position-y: 165px;
}

#starTool {
  background-position-y: 137px;
}

#polygonTool {
  background-position-y: 109px;
}

#penTool {
  background-position-y: 81px;
}

#representTool {
  background-position-y: 53px;
}

#searchTool {
  background-position-y: 25px;
}


#importTool {
  background-position-y: 28px;
}

#exportTool {
  background-position-y: 0px;
}

#tool-sep {
  height: 28px;
  width: 2px;
  background: #00b8e6;
  float: right;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 5px; 
}

/*
 * DRAWING CANVAS 
 */

#draw-canvas {
  width: 100%;
  height: 100%;
}
